licenseheader.txt
*dependency-reduced-pom.xml
*nb-configuration.xml
*target
.idea/discord.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
adapter/dungeonsxl-adapter.iml
addon/core/dungeonsxl-addon-core.iml
addon/dist/dungeonsxl-addon-dist.iml
addon/dungeonsxl-addon.iml
api/dungeonsxl-api.iml
bukkit_blockdata/dungeonsxl-bukkit_blockdata.iml
bukkit_magicvalues/dungeonsxl-bukkit_magicvalues.iml
core/dungeonsxl-core.iml
dist/dungeonsxl-dist.iml
dungeonsxl-parent.iml
